* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #165b94, #c9e0f8);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background-color: white;
}
form button {
  color: #165b94;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #165b94;
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background-color: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.todo li {
  flex: 1;
}
.trash-btn,
.complete-btn {
  background: #165b94;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgb(73, 204, 73);
}

.todo-item {
  padding: 0rem, 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  color: #165b94;
  width: 10rem;
  cursor: pointer;
  padding: 1.2rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #165b94;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
.select:hover::after {
  background: white;
  color: #165b94;
}

/*-----------------------------RESPONSIVE DESIGN ----------------------------------*/

@media only screen and (max-width: 850px) {
  body {
    background-image: linear-gradient(120deg, #165b94, #c9e0f8);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin-top: 100px;
  }
  /* .header {
   width: 100%;
    height: auto;
     display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px; 
  } */

  header h1 {
    font-size: 30px;
    padding-top: 100px;
  }
  form {
    max-width: 100%;
    flex-direction: row;
    padding-left: 30px;
  }

  form input {
    width: 150px;
  }

  form input[type="text"] {
    padding: 12px;
    resize: vertical;
    font-size: 15px;
  }

  form .todo-button {
    font-size: 21.5px;
  }
  form .select {
    justify-content: center;
    align-items: center;
    max-height: 41.5px;
    max-width: 45px;
  }

  .divv {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .todo-container {
    max-width: 90%;
    flex-direction: row;
    padding-left: 30px;
  }

  ul li {
    padding: 5px;
    font-size: 15px;
  }
}
